*
{
  margin: 0;
}

body
{
  display: block;
}

#result
{
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  border-radius: 0.5em;
  border-color: black;
  border-style: ridge;
  text-align: center;

}

div
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.buttonNumber
{
  width: 10em;
  height: 10em;
  margin-left: 10px;
  margin-bottom: 2em;
  margin-top: 0.5em;
  border-style: ridge;
  border-radius: 100%;
  box-shadow: none;
  border-color: black;
}

#equalTo
{
  margin-left: 2em;
  width: 14em;
  border-radius: 1em;
}

